<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- JSF -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.expressionFactory</param-name>
		<param-value>org.jboss.el.ExpressionFactoryImpl</param-value>
	</context-param>
	<!-- http://www.primefaces.org/showcase/ui/misc/fa.xhtml -->
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.xml,classpath*:liferayApplicationContext.xml</param-value>
	</context-param>

	<!-- Logging hack -->
	<listener>
		<listener-class>be.planetsizebrain.common.logging.SLF4JBridgeListener</listener-class>
	</listener>

	<!-- Bouncy Castle Tomcat reload fix -->
	<listener>
		<listener-class>be.planetsizebrain.common.security.BouncyCastleListener</listener-class>
	</listener>

	<!-- Expose WebSockets for CRaSH through Liferay PortalDelegateServlet -->
	<servlet>
		<servlet-name>delegate</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>be.planetsizebrain.crash.websocket.CrashWebsocketServlet</param-value>
		</init-param>
		<init-param>
			<param-name>sub-context</param-name>
			<param-value>crash</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-context</param-name>
			<param-value>/crash-portlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>